<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<table class="table table-striped" border="1" cellpadding="0" cellspacing="0" width="650" height="18">
    <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Delivery</th>
        <th>Payment</th>
        <th>orderStatus</th>


    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.name}"></td>
        <td th:text="${order.number}"></td>
        <td th:text="${order.delivery}"></td>
        <td th:text="${order.payment}"></td>
        <td th:text="${order.orderStatus}"></td>
        <td>
            <a th:href="@{/admin/order/{id}(id=${order.id})}" class="btn btn-primary">More info</a>
        </td>
    </tr>
</table>
</body>
</html>